
<div class="contenedorr">
    <img id="Perfil" src="../assets/imagenes/Perfil.jpeg" alt="">
        
    <div class="nubes">
        <img id="Nubes_juntas"src="../assets/imagenes/Nubes.png" alt="">
        <!--
        <img id="Nube_1" src="../assets/imagenes/Nube 1.png" alt="">
        <img id="Nube_2" src="../assets/imagenes/Nube 1.png" alt="">
        -->
    </div>
    <div class="contenedor">
        <div class="bloque">
            <span class="Nombre">Daniel Olarte</span>
            <p class="descripcion">
                Soy una persona dedicada y apasionada por la programacion, dispongo de varios titutlos orientados a la programacion y estoy en busca de
                empezar a trabajar en nuevos proyectos.
        </p>
        </div>
    </div> 
</div>
