<h2 id="titulo-experiencia">EXPERIENCIA</h2>
<div class="banner">
    <div class="experiencia">
        <div class="card">
            <div class="face front">
                <img src="../assets/imagenes/Kellogs.jpg" alt="">
                <h3>Kellogs</h3>
            </div>
            <div class="face back Kellogs">
                <h3>Kellogs</h3>
                <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Expedita voluptates similique laborum 
                cum dignissimos temporibus eligendi quam totam asperiores 
                dolorem. Illum quaerat reprehenderit alias nihil.</p>
                <div class="link">
                    <a href="https://www.kelloggs.com.ar/es_AR/home.html">Mas informacion</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face front">
                <img src="../assets/imagenes/Starbu.jpg" alt="">
                <h3>Starbucks</h3>
            </div>
            <div class="face back Starbucks">
                <h3>Starbucks</h3>
                <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Expedita voluptates similique laborum 
                cum dignissimos temporibus eligendi quam totam asperiores 
                dolorem. Illum quaerat reprehenderit alias nihil.</p>
                <div class="link">
                    <a href="https://www.starbucks.com.ar">Mas informacion</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face front">
                <img src="../assets/imagenes/Burguer.jpg" alt="">
                <h3>Burguer King</h3>
            </div>
            <div class="face back BurguerKing">
                <h3>Burguer King</h3>
                <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Expedita voluptates similique laborum 
                cum dignissimos temporibus eligendi quam totam asperiores 
                dolorem. Illum quaerat reprehenderit alias nihil.</p>
                <div class="link">
                    <a href="https://www.burgerking.com.ar">Mas informacion</a>
                </div>
            </div>
        </div>
    </div>
</div>