<body>
    <div class="inner">
        <div class="header">
            <h2 id="titulo">HABILIDADES</h2>
        </div>
        <div class="container">
            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="../assets/imagenes/HTML.png" alt="" class="skill-icon">
                    </div>
                    <h3>HTML 5</h3>
                </div>
                <p id="texto">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Expedita voluptates similique laborum 
                    cum dignissimos temporibus eligendi quam totam asperiores 
                    dolorem. Illum quaerat reprehenderit alias nihil.</p>
            </div>

            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="../assets/imagenes/CSS.png" alt="" class="skill-icon">
                    </div>
                    <h3>CSS 3</h3>
                </div>
                <p id="texto">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Expedita voluptates similique laborum 
                    cum dignissimos temporibus eligendi quam totam asperiores 
                    dolorem. Illum quaerat reprehenderit alias nihil.</p>
            </div>

            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="../assets/imagenes/JS.png" alt="" class="skill-icon">
                    </div>
                    <h3>Java Script</h3>
                </div>
                <p id="texto">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Expedita voluptates similique laborum 
                    cum dignissimos temporibus eligendi quam totam asperiores 
                    dolorem. Illum quaerat reprehenderit alias nihil.</p>
            </div>

            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="../assets/imagenes/Angular.png" alt="" class="skill-icon">
                    </div>
                    <h3>Angular</h3>
                </div>
                <p id="texto">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Expedita voluptates similique laborum 
                    cum dignissimos temporibus eligendi quam totam asperiores 
                    dolorem. Illum quaerat reprehenderit alias nihil.</p>
            </div>

            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="../assets/imagenes/SQL.png" alt="" class="skill-icon">
                    </div>
                    <h3>SQL</h3>
                </div>
                <p id="texto">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Expedita voluptates similique laborum 
                    cum dignissimos temporibus eligendi quam totam asperiores 
                    dolorem. Illum quaerat reprehenderit alias nihil.</p>
            </div>

            <div class="skill-box">
                <div class="skill-title">
                    <div class="img">
                        <img src="../assets/imagenes/PHP.png" alt="" class="skill-icon">
                    </div>
                    <h3>PHP</h3>
                </div>
                <p id="texto">Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Expedita voluptates similique laborum 
                    cum dignissimos temporibus eligendi quam totam asperiores 
                    dolorem. Illum quaerat reprehenderit alias nihil.</p>
            </div>

        </div>
    </div>
</body>

